<div class="w-full bg-sky-400 h-[7vh] shadow-md flex justify-center items-center fixed top-0 z-50 ">
  <div class="w-[95%] flex justify-between items-center">
    <div class="text-white text-xl font-bold">KH FASHION</div>
    <span class="text-white text-xl font-bold">Managament System</span>
    <div class="flex items-center gap-10">
      <span class="text-white">KH</span>
      <span class="text-white">Sovannchhaktra Nai</span>
      <div>
        <i class="pi pi-user-edit" style="font-size: 1.5rem; color: white;"></i>
      </div>
    </div>
  </div>
</div>
